.sideBarDatesItem {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  margin-bottom: 15px !important;
  padding: 0 0 15px 0 !important;

  &:not(:last-of-type) {
    border-bottom: 1px solid #eeeeee;
  }

  p {
    margin: 0;
  }
}

.sideBarDatesItemText {
  display: block;
  font-size: 16px;
  margin-bottom: 3px !important;
}

.sideBarDates {
  padding: 0 !important;
  margin: 0 !important;
}
