.root {
  position: relative;
}

.calendar {
  padding: 20px 10px;
}

.paper {
  width: 330px !important;
  max-width: 350px !important;
  padding-bottom: 0;
  border-radius: var(--border--radius-16) !important;
}
