@import 'styles/media';

.page {
  padding: var(--spacing--40);
  @include phone-lg {
    padding: 0 20px;
  }
}

.title {
  @media (min-width: 1200px) {
    margin-bottom: 40px;
  }

  @include phone-m {
    margin-bottom: 20px;
  }
}
