@import "styles/mixins/flexbox";

.block {
  @include flex($alignment: center, $justify-content: center);
  border: 1px solid var(--color--gray-200);
  background-color: var(--color--gray-100);
  margin-left: 0;
}
