.passwordField {
  position: relative;
}

.passwordFieldIcon {
  display: flex;
  position: absolute;
  top: 36px;
  cursor: pointer;
}

.passwordFieldHideIcon {
  opacity: 0.5;
  position: relative;
  top: 3px;
  right: 1px;
}
