.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  align-items: flex-start;
  column-gap: var(--spacing--30);
  row-gap: var(--spacing--20);
}

.rootSection {
  grid-column: 1/4;
}

.rootAside {
  display: grid;
  grid-template-rows: max-content;
  row-gap: var(--spacing--20);
  align-items: self-start;
}

.blockTitle {
  margin-bottom: var(--spacing--20) !important;
  font-size: 1.125rem !important;
  font-weight: bold !important;
}

.photoStoreItem {
  width: 114px;
  height: 114px;
  border-radius: var(--border--radius-8);
  overflow: hidden;
  margin-left: var(--spacing--10);
  margin-bottom: var(--spacing--10);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item {
  position: relative;

  & + .item {
    margin-left: 10px;
    padding-left: 10px;

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 1.5px);
      left: 0;
      width: 3px;
      height: 3px;
      background-color: var(--color--gray-900);
      border-radius: 50%;
    }
  }

}

.itemText {
  font-size: 14px !important;
}

.productTitle {
  margin-bottom: 20px !important;
  font-weight: bold !important;
}

.boldText {
  font-weight: bold !important;
  font-size: 1.125rem !important;
}

.commissionKey {
  color: #8D8D8D !important;
}

.commissionVal {
  margin-left: 3px !important;
}

.productDescription {
  margin-bottom: var(--spacing--20) !important;
  padding-bottom: var(--spacing--20);
  border-bottom: 1px solid var(--color--gray-200);
}

.infoBlock {
  & + .infoBlock {
    margin-left: var(--spacing--20);
    padding-left: var(--spacing--20);
    border-left: 1px solid var(--color--gray-200);
  }
}

.videoBlock {
  display: flex;
  align-items: center;
  background: var(--color--gray-150);
  border: 1px solid var(--color--gray-200);
  box-sizing: border-box;
  border-radius: 12px;
  padding: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.videoTitle {
  font-size: 18px !important;
  margin-bottom: 5px !important;
}

.videoRecipeText {
  font-size: 14px !important;
}
