.paper {
  padding: 0 !important;
  border: 1px solid #eeeeee;
  width: 100%;
}

.row {
  padding: 15px var(--spacing--20);
}

.item {
  padding-right: 0 !important;
  padding-left: 0 !important;

  & + .item {
    margin-top: var(--spacing--30) !important;
  }
}

.fullyBookedText {
  font-weight: bold !important;
  font-size: 14px !important;
  color: green;
}

.fontBold {
  font-weight: bold !important;
}

.smallText {
  font-size: 14px !important;
}

.chooseButton {
  height: 38px;
  width: 84px;
}
